---
import Layout from '../layouts/Layout.astro';
import MenuHeader from '../components/MenuHeader.astro';
---

<Layout title="Poppo's Pizzeria">
	<MenuHeader/>
	<main>
		<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, beatae rerum praesentium cumque maxime numquam nam vitae quas sapiente dignissimos! Veritatis incidunt optio dolorum velit quaerat asperiores ullam dicta dolores.</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
	</main>
</Layout>

<style>
	main{
		padding-top: 6rem;
	}
</style>
