---
import Layout from '../layouts/Layout.astro';
import MenuHeader from '../components/MenuHeader.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import OrderOnline from '../components/OrderOnline.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout title="Poppo's Pizzeria">
	<MenuHeader/>
	<main>
		<Hero/>
		<Services/>
		<OrderOnline/>
		<Gallery/>

		<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, beatae rerum praesentium cumque maxime numquam nam vitae quas sapiente dignissimos! Veritatis incidunt optio dolorum velit quaerat asperiores ullam dicta dolores.</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit sunt sequi non nulla enim temporibus vel optio. Earum natus officiis ullam reiciendis qui vel deleniti aliquam suscipit ab cumque.</p>
	</main>
</Layout>

<style lang="scss">
	main{
		margin-top: 106px;
	}
</style>
