---
import Layout from "../layouts/Layout.astro";
import MenuHeader from "../components/MenuHeader.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import OrderOnline from "../components/OrderOnline.astro";
import Gallery from "../components/Gallery.astro";
import ProductsCarousel from "../components/ProductsCarousel.astro";
import AboutUs from "../components/AboutUs.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Poppo's Pizzeria">
	<MenuHeader />
	<main>
		<Hero />
		<Services />
		<OrderOnline />
		<Gallery />
		<ProductsCarousel />
		<AboutUs />
		<Footer />
	</main>
</Layout>

<style lang="scss">
	main {
		padding-top: 106px;
	}
</style>

