---
import Layout from '../layouts/Layout.astro';
import MenuHeader from '../components/MenuHeader.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import OrderOnline from '../components/OrderOnline.astro';
import Gallery from '../components/Gallery.astro';
import ProductsCarousel from '../components/ProductsCarousel.astro';
---

<Layout title="Poppo's Pizzeria">
	<MenuHeader/>
	<main>
		<Hero/>
		<Services/>
		<OrderOnline/>
		<Gallery/>
		<ProductsCarousel/>
	</main>
</Layout>

<style lang="scss">
	main{
		margin-top: 106px;
	}
</style>
