<section class="about-us" id="about-us">
    <div class="container">
        <div class="d-flex flex-column-sm align-center">
            <div>
                <h2 class="text-center-sm">About Us</h2>
                <p>
                    At Poppop's Pizzeria, we blend classic Italian cuisine with
                    updated family recipes. Our chef-inspired fare features
                    fresh, local ingredients. From hero sandwiches to artisan
                    pies, pur diverse menu satisfies all tastes. Open 7 days a
                    week for lunch and dinner!
                </p>
            </div>
            <div>
                <img
                    src="https://img.freepik.com/foto-gratis/vista-superior-pizza-pepperoni-salchichas-champinones-pimiento-verde-oliva-maiz-madera-negra_141793-2158.jpg?w=1380&t=st=1687626216~exp=1687626816~hmac=8460e6bfeea06a66062cdbced4ee235e212908e9aa5a0566b2b614ab2d4464c2"
                    alt=""
                    class="rounded-sm"
                    alt=""
                />
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .about-us{
        & .d-flex{
            gap:2rem;
            div{
                flex-basis: 50%;
            }
        }
    }
</style>