<section class="gallery">
    <div class="container">
        <h2>Gallery</h2>
        <div class="gallery__images">
            <a href="/images/1.jpg" data-lightbox="models" data-title="Imagen">
                <img src="/images/1.jpg" alt="" />
            </a>
            <a href="/images/2.jpg" data-lightbox="models" data-title="Imagen">
                <img src="/images/2.jpg" alt="" />
            </a>
            <a href="/images/3.jpg" data-lightbox="models" data-title="Imagen">
                <img src="/images/3.jpg" alt="" />
            </a>
            <a href="/images/4.jpg" data-lightbox="models" data-title="Imagen">
                <img src="/images/4.jpg" alt="" />
            </a>
            <a href="/images/5.jpg" data-lightbox="models" data-title="Imagen">
                <img src="/images/5.jpg" alt="" />
            </a>
            <a href="/images/6.jpg" data-lightbox="models" data-title="Imagen">
                <img src="/images/6.jpg" alt="" />
            </a>
            <a href="/images/7.jpg" data-lightbox="models" data-title="Imagen">
                <img src="/images/7.jpg" alt="" />
            </a>
            <a href="/images/8.jpg" data-lightbox="models" data-title="Imagen">
                <img src="/images/8.jpg" alt="" />
            </a>
        </div>
    </div>
</section>

<style lang="scss">
    .gallery {
        &__images {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            img {
                width: 100%;
            }
        }
    }
</style>
