<section class="gallery">
    <div class="container">
        <h2 class="text-center">Gallery</h2>
        <div class="gallery__images">
            <div>
                <a
                    href="https://img.freepik.com/foto-gratis/sacerdote-sexo-masculino-joven-que-usa-smartphone_23-2149298310.jpg?t=st=1687556426~exp=1687557026~hmac=6795f79e52431c350428cd17e2b1b2dea6889cb22f11f8449a4da4247573426b"
                    data-lightbox="models"
                    data-title="Test imagen"
                >
                    <img
                        src="https://img.freepik.com/foto-gratis/sacerdote-sexo-masculino-joven-que-usa-smartphone_23-2149298310.jpg?t=st=1687556426~exp=1687557026~hmac=6795f79e52431c350428cd17e2b1b2dea6889cb22f11f8449a4da4247573426b"
                        alt=""
                        class="rounded shadow-sm"
                    />
                </a>
            </div>
            <div>
                <a
                    href="https://img.freepik.com/foto-gratis/sacerdote-sexo-masculino-joven-que-usa-smartphone_23-2149298310.jpg?t=st=1687556426~exp=1687557026~hmac=6795f79e52431c350428cd17e2b1b2dea6889cb22f11f8449a4da4247573426b"
                    data-lightbox="models"
                    data-title="Test imagen"
                >
                    <img
                        src="https://img.freepik.com/foto-gratis/sacerdote-sexo-masculino-joven-que-usa-smartphone_23-2149298310.jpg?t=st=1687556426~exp=1687557026~hmac=6795f79e52431c350428cd17e2b1b2dea6889cb22f11f8449a4da4247573426b"
                        alt=""
                        class="rounded shadow-sm"
                    />
                </a>
                <a
                    href="/images/1.jpg"
                    data-lightbox="models"
                    data-title="Test imagen"
                >
                    <img src="/images/1.jpg" alt="" class="rounded shadow-sm" />
                </a>
            </div>
            <div>
                <a
                    href="/images/1.jpg"
                    data-lightbox="models"
                    data-title="Test imagen"
                >
                    <img src="/images/1.jpg" alt="" class="rounded shadow-sm" />
                </a>
                <a
                    href="https://img.freepik.com/foto-gratis/sacerdote-sexo-masculino-joven-que-usa-smartphone_23-2149298310.jpg?t=st=1687556426~exp=1687557026~hmac=6795f79e52431c350428cd17e2b1b2dea6889cb22f11f8449a4da4247573426b"
                    data-lightbox="models"
                    data-title="Test imagen"
                >
                    <img
                        src="https://img.freepik.com/foto-gratis/sacerdote-sexo-masculino-joven-que-usa-smartphone_23-2149298310.jpg?t=st=1687556426~exp=1687557026~hmac=6795f79e52431c350428cd17e2b1b2dea6889cb22f11f8449a4da4247573426b"
                        alt=""
                        class="rounded shadow-sm"
                    />
                </a>
            </div>
            <div>
                <a
                    href="/images/6.jpg"
                    data-lightbox="models"
                    data-title="Test imagen"
                >
                    <img src="/images/6.jpg" alt="" class="rounded shadow-sm" />
                </a>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .gallery {
        &__images {
            margin-top: 2rem;
            columns: 2;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            align-items: center;
            img {
                width: 100%;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.01);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .gallery {
            &__images {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 2rem;
                align-items: center;
                img {
                    width: 100%;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.01);
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
                    }
                }
            }
        }
    }
</style>
