<header class="fixed top-0 left-0 w-screen bg-black">
	<div class="container">
		<div class="d-flex align-center justify-between bg-black">
			<a href="/" class="logo">
				<img src="/logo.svg" alt="Logo Poppo's Pizzeria" />
			</a>
			<nav
				class="menu p-absolute-sm left-0 w-screen-sm bg-black"
				id="menu"
			>
				<ul class="d-flex-md align-center">
					<li>
						<a href="#"> <span class="p-relative">Home</span></a>
					</li>
					<li>
						<a href="#"> <span class="p-relative">About</span></a>
					</li>
					<li>
						<a href="#"> <span class="p-relative">Menu</span></a>
					</li>
					<li>
						<a href="#"> <span class="p-relative">Contact</span></a>
					</li>
					<li>
						<a href="#">
							<span class="p-relative">Our Services</span></a>
					</li>
					<li>
						<a href="#" class="btn btn-primary rounded"
							>Contact Us</a
						>
					</li>
				</ul>
			</nav>
			<div class="menu-hamburguer" id="menu-hamburguer">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
			</div>
		</div>
	</div>
</header>
<style lang="scss">
	header {
		z-index: 999;
		.container > div {
			padding: 0.5rem 0;
		}
	}

	.logo {
		transition: all 0.3s ease-in-out;
		&:hover {
			transform: scale(1.05);
		}
	}

	.menu {
		border-bottom: 1px solid var(--white);
		top: -260px;
		z-index: -1;
		transition: all 0.5s ease-in-out;
		ul {
			padding: 1rem 0;
			margin: 0;
		}
		li {
			display: block;
			list-style: none;
			a {
				font-size: 1.5rem;
				display: block;
				text-align: center;
				font-weight: 600;
				margin: auto;
				&:not(.btn) {
					padding: 1rem 1.5rem;
					color: var(--white);
				}
			}
		}
		&.show {
			top: 80px;
		}
	}

	.menu-hamburguer {
		cursor: pointer;
		.line {
			display: block;
			border: 2px solid var(--white);
			margin: 0.25rem 0;
			width: 24px;
			transition: all 0.3s ease-in-out;
		}
		&.close {
			.line:first-child {
				transform: rotate(45deg) translate(6px, 10px);
			}
			.line:nth-child(2) {
				opacity: 0;
			}
			.line:last-child {
				transform: rotate(-45deg) translate(2px, -5px);
			}
		}
	}

	.logo img {
		max-width: 7rem;
	}

	@media (min-width: 768px) {
		.menu {
			li a {
				font-size: 1.05rem;
				&:not(.btn) {
					padding: 1rem;
				}
			}
			&,
			&.show {
				border-bottom: none;
				z-index: 999;
			}
		}

		.menu-hamburguer {
			display: none;
		}
	}
	@media (min-width: 1024px) {
		.menu {
			li a {
				font-size: 1.5rem;
			}
		}

		.menu-hamburguer {
			display: none;
		}
	}
</style>
<script>
	window.onload = () => {
		const $menu = document.getElementById("menu");
		const $menuHamburguer = document.getElementById("menu-hamburguer");
		$menuHamburguer.onclick = () => {
			$menu.classList.toggle("show");
			$menuHamburguer.classList.toggle("close");
		};
	};
</script>
