<header class="fixed top-0 left-0 w-screen bg-black">
	<div class="container">
		<div class="d-flex align-center justify-between bg-black">
			<div class="logo">
				<img src="/logo.svg" alt="Logo Poppo's Pizzeria" />
			</div>
			<nav class="menu absolute-sm left-0 w-screen-sm bg-black" id="menu">
				<ul class="d-flex-md align-center">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Our Services</a></li>
					<li>
						<a href="#" class="btn btn-primary rounded"
							>Contact Us</a
						>
					</li>
				</ul>
			</nav>
			<div class="menu-hamburguer" id="menu-hamburguer">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
			</div>
		</div>
	</div>
</header>
<style>
	header {
		z-index: 999;
	}

	header .container > div{
		padding: 0.5rem 0;
	}
	nav li {
		list-style: none;
	}

	.line {
		display: block;
		border: 2px solid var(--white);
		margin: 0.25rem 0;
		width: 24px;
		transition: all 0.3s ease-in-out;
	}

	.menu-hamburguer {
		cursor: pointer;
	}

	.menu {
		border-bottom: 1px solid var(--white);
		top: -260px;
		z-index: -1;
		transition: all 0.5s ease-in-out;
	}

	.menu ul {
		padding: 1rem 0;
		margin: 0;
	}

	.menu li {
		display: block;
	}

	nav a {
		text-decoration: none;
		padding: 1rem;
		display: block;
		text-align: center;
		color: var(--white);
		font-size: 1.5rem;
		font-weight: 600;
	}

	nav.menu.show {
		top: 80px;
	}

	.absolute-sm {
		position: absolute;
	}

	.menu-hamburguer.close .line:nth-child(2) {
		opacity: 0;
	}

	.menu-hamburguer.close .line:first-child {
		transform: rotate(45deg) translate(6px, 10px);
	}

	.menu-hamburguer.close .line:last-child {
		transform: rotate(-45deg) translate(2px, -5px);
	}

	.logo {
		max-width: 7rem;
	}

	.logo img {
		max-width: 100%;
	}

	@media (min-width: 768px) {
		nav a {
			font-size: 1rem;
		}

		.d-flex-md {
			display: flex;
		}

		.absolute-sm {
			position: initial;
		}

		nav.menu,
		nav.menu.show {
			border-bottom: none;
			z-index: 999;
		}

		.menu-hamburguer {
			display: none;
		}
	}
</style>
<script>
	window.onload = () => {
		const $menu = document.getElementById("menu");
		const $menuHamburguer = document.getElementById("menu-hamburguer");
		$menuHamburguer.onclick = () => {
			$menu.classList.toggle("show");
			$menuHamburguer.classList.toggle("close");
		};
	};
</script>
