<section class="order-online bg-gray">
    <div class="container d-flex flex-column-sm align-center justify-center">
        <h2>Order online with</h2>
        <img src="/images/order-online.webp" alt="Order online with grubhub, slice, doordash and uber eats">
    </div>
</section>

<style lang="scss">
    
    @media (min-width:768px) {
        .order-online{
            &>div{
                gap:2rem;
            }
        }
    }
</style>