<section class="products bg-gray">
    <div class="container">
        <h2 class="text-center">Our Delicious Products</h2>
        <div class="owl-carousel owl-theme">
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="https://img.freepik.com/foto-gratis/vista-superior-pizza-pepperoni-salchichas-champinones-pimiento-verde-oliva-maiz-madera-negra_141793-2158.jpg?w=1380&t=st=1687626216~exp=1687626816~hmac=8460e6bfeea06a66062cdbced4ee235e212908e9aa5a0566b2b614ab2d4464c2" alt="" class="rounded-sm" />
            </div>
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="https://img.freepik.com/foto-gratis/vista-superior-pizza-pepperoni-salchichas-champinones-pimiento-verde-oliva-maiz-madera-negra_141793-2158.jpg?w=1380&t=st=1687626216~exp=1687626816~hmac=8460e6bfeea06a66062cdbced4ee235e212908e9aa5a0566b2b614ab2d4464c2" alt="" class="rounded-sm" />
            </div>
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="https://img.freepik.com/foto-gratis/vista-superior-pizza-pepperoni-salchichas-champinones-pimiento-verde-oliva-maiz-madera-negra_141793-2158.jpg?w=1380&t=st=1687626216~exp=1687626816~hmac=8460e6bfeea06a66062cdbced4ee235e212908e9aa5a0566b2b614ab2d4464c2" alt="" class="rounded-sm" />
            </div>
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="https://img.freepik.com/foto-gratis/vista-superior-pizza-pepperoni-salchichas-champinones-pimiento-verde-oliva-maiz-madera-negra_141793-2158.jpg?w=1380&t=st=1687626216~exp=1687626816~hmac=8460e6bfeea06a66062cdbced4ee235e212908e9aa5a0566b2b614ab2d4464c2" alt="" class="rounded-sm" />
            </div>
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="https://img.freepik.com/foto-gratis/vista-superior-pizza-pepperoni-salchichas-champinones-pimiento-verde-oliva-maiz-madera-negra_141793-2158.jpg?w=1380&t=st=1687626216~exp=1687626816~hmac=8460e6bfeea06a66062cdbced4ee235e212908e9aa5a0566b2b614ab2d4464c2" alt="" class="rounded-sm" />
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .products {
        &__item {
            margin-top: 1rem;
            background-color: var(--white);
            padding: 1rem;
            .btn{
                display: inline-block;
            }
            p{
                color: var(--gray);
                font-size: 1.1rem;
            }
            img{
                margin-top: 1rem;
            }
        }
    }
</style> 
