<section class="products bg-gray" id="products">
    <div class="container">
        <h2 class="text-center">Our Delicious Products</h2>
        <div class="owl-carousel owl-theme">
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="/images/pizza-products.webp" alt="" class="rounded-sm" />
            </div>
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="/images/pizza-products.webp" alt="" class="rounded-sm" />
            </div>
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="/images/pizza-products.webp" alt="" class="rounded-sm" />
            </div>
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="/images/pizza-products.webp" alt="" class="rounded-sm" />
            </div>
            <div class="products__item rounded-sm text-center">
                <h3>Oven Baked Pizza</h3>
                <p>
                    Indulge in our delectable classics and sifnature artisan
                    pizzas, meticulously crafted with premium ingredients for an
                    unforgettable taste experience.
                </p>
                <a href="#" class="btn btn-primary--black rounded">Contact Us</a>
                <img src="/images/pizza-products.webp" alt="" class="rounded-sm" />
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .products {
        &__item {
            margin-top: 1rem;
            background-color: var(--white);
            padding: 1rem;
            .btn{
                display: inline-block;
            }
            p{
                color: var(--gray);
                font-size: 1.1rem;
            }
            img{
                margin-top: 1rem;
            }
        }
    }
</style> 
